/*
Error: Invalid CSS after "=======": expected "{", was "}"
        on line 76 of master.scss

71: 		padding-bottom: 0;
72: 		margin: 0;
73: 	}
74: <<<<<<< HEAD
75: =======
76: }
77: [id*='rand'] {
78: 	font-size: 1.3em;
79: >>>>>>> parent of f46cacc... finished
80: }

Backtrace:
master.scss:76
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1115:in `expected'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1110:in `tok!'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:654:in `block'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:647:in `ruleset'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:673:in `block_child'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:123:in `stylesheet'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:39:in `parse'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:471:in `on_file_changed'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Users/willsmith/.rvm/gems/ruby-2.3.0/gems/sass-3.4.21/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"=======\": expected \"{\", was \"}\"\A         on line 76 of master.scss\A \A 71: 		padding-bottom: 0;\A 72: 		margin: 0;\A 73: 	}\A 74: <<<<<<< HEAD\A 75: =======\A 76: }\A 77: [id*='rand'] {\A 78: 	font-size: 1.3em;\A 79: >>>>>>> parent of f46cacc... finished\A 80: }"; }
